@charset "UTF-8";
/* CSS Document */


/* file from inbox */

body {
	background:#E9EEF9;
/*	zoom:0.8;
	-moz-transform: scale(0.8,0.8);

-ms-transform: scale(0.8,0.8);

-webkit-transform: scale(0.8,0.8);

-o-transform: scale(0.8,0.8);

transform: scale(0.8,0.8);
	-moz-transform-origin: left top;

-ms-transform-origin: left top;

-webkit-transform-origin: left top;

transform-origin: left top;
	width: 125%;
	-moz-height: 125%!important;*/
	padding: 0;
	    font-size: .975rem;
	height: 50vh;

}
body.grey-bg {
	background: #dfe3e7;
}
.navigation-menu>li>a {
	font-size: 18px;
}
.page-title-box {
    padding: 0;
}
.navbar-custom {
	height: 60px;
}
.fa, .fas {
	font-size:20px;
}
.wrapper {
	padding-top: 10px;
	
}
.navigation-menu>li>a {
	padding:5px 20px;
}
#topnav, .right-bar .rightbar-title {
	background: linear-gradient(to top,#3e62ab,#16294f);
}
.navbar-custom .topnav-menu .nav-link {
	line-height:normal;
}
.navbar-custom .topnav-menu .nav-link.nav-user {
	top:-1px;
}
.navbar-custom .topnav-menu .nav-link i {
	font-size: 18px;
}
.navigation-menu {
	padding-top: 13px;
}
.navbar-custom .app-search {
	
}
.tab-content {
	padding-top: 14px!important;
}
.yellow-chit-container {
	position: relative; top: -8px; display: inline; margin-right: 10px;
}
.yellow-chit-container button {
	position: relative;
	z-index: 0;
}
.yellow-chit-container  span.noti-icon-badge {
    right: 7px;
	top: -14px;
	background: #f36270; color: #fff; width: 16px; height: 16px; border-radius: 50%;
	bottom: 200px;
}
@media (min-width: 1200px){
.container-fluid {
    max-width: 98%;
}
}
.navbar-custom .topnav-menu .nav-link {
	color: #fff;
}
.navbar-custom .app-search .form-control {
	background: #fff;
	color: #273C6A;
	border-radius: 10px;
	padding: 0 40px 0 20px;
	height: 30px;
	margin-top: 0;
}
#topnav .has-submenu.active>a {
	color:#38A2E1;
	font-weight: bold;
}
.navigation-menu>li>a {
	color:#fff;
}
.page-title-box .page-title-right .nav-link {
	font-size:20px;
	color:#223766;
}
.tab-content {
	border: solid 1px #b2c1e0;
	padding: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: #E9691D;
	color: #fff;
}
.nav-tabs {
	border:none;
}
.nav-tabs .nav-link {
	border: solid 1px #CFCFCF;
	border-radius: 0;
	color: #3D79A7;
	text-transform: uppercase;
}
.col-form-label {
	font-size:14px;
	color: #545454;
	font-weight: normal;
}
.col-form-label .form-control-static {
	font-weight: 500;
	color: #000;
	padding-left: 10px;
}
.top-right-icon-container .rounded-circle {
	border: solid 1px #376D9B;
	background: #fff;
	width: 40px;
    height: 40px;
    display: inline-block;
	font-size: 22px;
}
.top-right-icon-container .rounded-circle i {
	color: #4B90BC;
	position: relative;
	right: 6px;
	top: -5px;
}
hr.inbox {
	border-top: 1px solid #c2c6cf;
	color: #000;
	margin: 0;
	margin-bottom: 10px;
}
.file-inbox-col-1, .file-inbox-col-2, .file-inbox-col-3-3 {
	padding: 0 12px;
	z-index: 10;
}
.file-inbox-col-3-3 {
	position:relative;
}
.pull-slide-widget{
	width: 15px; height:60px; position: absolute; top: 40%; left: -2px; background: #376D9B; display: block;
}
.pull-slide-widget:hover {
	background: #E9691D;
}
.pull-slide-widget i {
	color: #fff; position: relative; top: 18px;
}
@media (min-width: 800px) {
	.file-inbox-col-1-3, .file-inbox-col-2-3 {
	width: 38%;
}
}

@media (min-width: 1200px) {

	.btn-primary {
		display: block;
	}
	.file-inbox-col-1, .file-inbox-col-2 {
	width: 48%;
}
	.file-inbox-col-1-3, .file-inbox-col-2-3 {
	width: 39%;
}
}
@media screen and (min-width: 1400px) {
	.file-inbox-col-1, .file-inbox-col-2 {
	width: 48.70%;
}
		.file-inbox-col-1-3, .file-inbox-col-2-3 {
	width: 39.5%;
}
}
@media (min-width: 1680px) {
	.file-inbox-col-1, .file-inbox-col-2 {
	width: 48.80%;
}
		.file-inbox-col-1-3, .file-inbox-col-2-3 {
	width: 39%;
}
		.file-inbox-col-3-3 {
	width: 19.6%;
}
}
@media (min-width: 2560px) {
	.file-inbox-col-1, .file-inbox-col-2 {
	width: 49.2%;
}
		.file-inbox-col-1-3, .file-inbox-col-2-3 {
	width: 40%;
}
	.file-inbox-col-3-3 {
	width: 18.4%;
}
}
.file-inbox-col-1 .card-box, .file-inbox-col-2 .card-box {
	background: #E9EEF9;
	border-radius: 0;
	min-height: 1000px;
}
.file-inbox-col-3-3 .card-box {
	border-radius: 0;
	background: #C3D0ED;
	min-height: 1000px;
	padding-top: 15px!important;
}

.file-inbox-col-3-3 .card-box .widget .card-box {
	min-height: auto;
	background: #fff;
}
.file-inbox-col-3-3 {
		min-height: 597px;
}
.file-inbox-btn-wrapper {
	width: 30px;
    position: relative;
    right: 83px;
	z-index: 0;
}
.file-inbox-btn-wrapper .btn-special {
	text-align: right; 
	font-size: 16px; 
	font-weight: bold;  
	padding-right: 18px; 
	margin-bottom: 1px;
}
.file-inbox-btn-wrapper .btn-primary {
	background:#376D9B;
	border: none;
}
.file-inbox-btn-wrapper .btn-primary:hover {
	background: #E9691D;
}
.file-inbox-btn-wrapper .btn-rotate:hover {
	color: #fff;
	background:#376D9B;
}
.file-inbox-btn-wrapper .noting {
	top: 48px;
}
.file-inbox-btn-wrapper .quick-sign {
	top: 96px;
	background: #E9691D!important;
	color: #fff!important;
}
.file-inbox-btn-wrapper .quick-sign:hover {
	background: #376D9B!important;
}
.file-inbox-btn-wrapper .btn-rotate {
	transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	right: -22px;
    border-radius: 15px 15px 0 0;
    padding: 2px 0px 5px 0;
    font-size: 15px;
    font-weight: 400;
    background: #C8E6FF;
    color: #487AA4;
    border: solid 1px #487AA4;
    line-height: 20px;
    width: 123px;
    text-align: center;
    margin-top: 48px;
}
.inbox-btn-wrapper {
	text-align: center;
}
.inbox-btn-wrapper a {
	display: inline-block; 
	text-indent: -9999px;
	height: 40px;
	width: 40px;
	margin-left: 5px;
	background: url("../images/ibox-btn-css-sprite.png") no-repeat;
}
.inbox-btn-wrapper a.send:hover {
	background-position: 0 -40px;
}
.inbox-btn-wrapper a.send {
	width: 113px;
	background-position: 0 0;
}
.inbox-btn-wrapper a.close-file {
	background-position: -122px 0;
}
.inbox-btn-wrapper a.close-file:hover {
	background-position: -122px -40px;
}
.inbox-btn-wrapper a.link-files {
	background-position: -170px 0;
}
.inbox-btn-wrapper a.link-files:hover {
	background-position: -170px -40px;
}
.inbox-btn-wrapper a.update-status {
	background-position: -219px 0;
}
.inbox-btn-wrapper a.update-status:hover {
	background-position: -219px -40px;
}
.inbox-btn-wrapper a.monitor {
	background-position: -267px 0;
}
.inbox-btn-wrapper a.monitor:hover {
	background-position: -267px -40px;
}
.inbox-btn-wrapper a.eric {
	background-position: -364px 0;
}
.inbox-btn-wrapper a.eric:hover {
	background-position: -364px -40px;
}
.inbox-btn-wrapper a.action-point {
	background-position: -413px 0;
}
.inbox-btn-wrapper a.action-point:hover {
	background-position: -413px -40px;
}
.inbox-btn-wrapper a.download {
	background-position: -461px 0;
}
.inbox-btn-wrapper a.download:hover {
	background-position: -461px -40px;
}
.inbox-btn-wrapper a.share {
	background-position: -510px 0;
}
.inbox-btn-wrapper a.share:hover {
	background-position: -510px -40px;
}
.inbox-btn-wrapper a.history {
	background-position: -510px 0;
}
.inbox-btn-wrapper a.history:hover {
	background-position: -510px -40px;
}
#paperless-page-id .app-search {
	height: auto;
	position: relative;
	top: 4px;
}
#navigation {
	padding-top: 1px;
}
.topnav-menu a {
	position: relative;
	top: 3px;
}
.logo-box {
	height: 46px;
}
.logo {
	line-height: 58px;
}
.btn-wrapper-top {
text-align: right; 
	position: absolute; 
	right: 50px; 
	top: 2px;
}
.bottom-btn-wrapper {
	text-align: center;
}
.bottom-btn-wrapper button {
	margin-bottom: 4px;
}
.notings input.custom-control-input {
	display: inline;
}

.button-wrapper-main {
	position: fixed;
    margin: 0 auto;
    bottom: -11px;
    background: #fff;
	width: 100%;
    padding: 0;
    z-index: 11;
	left: 0;
	top: auto;
		-webkit-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.57);
-moz-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.47);
box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.47);
	height: 52px;
	transform: scale(0.8);
	transform-origin: 0 0;
	width: 125%;
}
	/* file from inbox */






/* dahboard css */
.card-box {
	-webkit-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.17);
-moz-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.17);
box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.17);
}
.tilebox-one {
	border-radius:10px;
	/*background: url(../images/bg-home-widget.png) no-repeat;
	background-position-x: 96%;*/
	border: none;
	-webkit-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.57);
-moz-box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.47);
box-shadow: 6px 6px 9px -6px rgba(0,0,0,0.47);
}

.tilebox-one i {
		width: auto;
	height: auto;
	background: none;
	padding-top: 5px;
	font-size: 30px;
}
.tilebox-one.correspondence {
	background: linear-gradient(90deg,#0E51E3,#1BA6D7);
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.correspondence i {
	color: #0E51E3!important;
}
.tilebox-one.files {
	background: linear-gradient(90deg,#118B5C,#44CE9D);
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.files i {
	color: #118B5C!important;
}
.tilebox-one.pending {
	background: linear-gradient(90deg,#F46333,#EC9C5A);
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.tilebox-one h5 {
	text-align:left;
	color: #fff!important;
	font-size: 20px;
	margin-top: 10px!important;
}
.correspondence span.number {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #0E52E3;
}
.files span.number {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #118B5C;
}
.tilebox-one .graph {
	width: 70%;
	float: left;
}
.tilebox-one .background {
	background: url(../images/bg-home-widget.png) no-repeat;
	background-position-x: 80%;
}
.tilebox-one .radius {
	border-radius:100px; background: #fff; width: 100px; height: 100px;
}
.tilebox-one .background .box {
	margin: 45px;
}
.tilebox-one .background .box span {
	font-size: 20px;
	width: 100px;
	display: block;
	color: #fff;
	border-bottom: solid 1px #fff
}
.tilebox-one .background .box h6 {
	font-size: 30px;
	color: #fff;
}
.pending .background {
	width: 100%;
	background-position-x: 50%;
	background-position-y: 0%;
	height: 165px;
}
.pending h5 {
	margin-bottom: 0!important;
}
.pending .background .box {
	margin: 70px 0 0;
}
.widget .widget-bg {
	border-radius: 10px 10px 0 0; 
	background: linear-gradient(to top,#3e62ab,#16294f); 
	padding: 4px;
	height: 45px;
}
.widget .widget-bg h4.header-title {
	color: #fff !important;
	padding: 0px 0 0 10px; 
	position: relative; 
	top: 12px; 
	font-size:16px;
	text-transform: capitalize; 
	font-weight: normal;
}
.slimScrollDiv1 {
	position: relative; 
	overflow: hidden; 
	width: auto; 
	height: 296px!important;
}
.table .thead-light th {
	text-transform:uppercase;
	color: #4A4A4A;
}
.widget .widget-bg h4.heading {
	width: 125px; 
	display: inline;
}
.widget .widget-bg .btn-group-1 {
	float:right;
}
.widget .widget-bg .btn-group-1 .btn-light {
	font-size: 12px;
	padding: 2px;
	background: #fff;

	position: relative;
	top: 3px;
}
.widget .widget-bg .btn-group-1 .btn-link {
	color:#fff;
	font-size: 12px;
	position: relative;
	top: 3px;
}


table.third-widget{
border: 2px solid #eee;
color:#FFF;
}
table.third-widget tr{ background:#E8EDF8; }
table.third-widget .thead-dark th{text-align: center;color: #FFF;font-weight: bold;}
table.third-widget th.lightblue{background: #1581DC;}
table.third-widget th.skyblue{background:#15ABDC;}
table.third-widget th.green{background:#5BA268;}
table.third-widget th.darkgreen{background:#12978B;}
table.third-widget th.darkblue{background:#3463BE;}
table.third-widget td{ border-right : 2px solid #FFF; text-align: center; font-size: 20px; color:grey; }
.widget-area{background: linear-gradient(90deg,green,greenyellow); display: flex; align-items: center; justify-content: space-between; color:#FFF; border-radius: 5px; padding: 20px 35px;}
.widget-area .title{font-size: 35px; font-weight: bold;}
.widget-area .text{font-size: 25px;}
.widget-area .text a {font-size: 25px; color: #fff;}
.container-fluid .card-box{padding:0.5em 1rem 0.5rem; }
/* dahboard css */


.btn-orange {
	background: #da6f35;
	border: none;
}
.btn-orange:hover
{
	background: #436d97;
	border: none;
}
.btn-orange-outline {
	border: solid 1px #da6f35;
	color: #da6f35;
}
.btn-orange-outline:hover {
	background: #da6f35;
	color: #fff;
	border: solid 1px #da6f35;
}
.file-inbox-new-col-1 {
	margin-right: 0!important;
	padding-right: 0!important;
}
.file-inbox-new-col-1 .card-box {
	margin-right: 0!important;
}
.file-inbox-new-col-2 {
	margin-left: 0!important;
	padding-left: 0;
}
.file-inbox-new-col-2 .card-box {
	background: #fff;
	border:  solid 1px #c3c6ce;
	padding-left: 0!important;
	border-left: none;
}
.new-btn-container-purple .btn-outline-primary {
	background: #5d6dc3;
	color: #fff;
	border: none;
}
.new-btn-container-purple .btn-outline-primary:hover {
	background: #da6f35;
}
.new-btn-container-purple .btn-pink:hover {
	background: #da6f35;
}
.navbar-custom .topnav-menu .nav-link i.fe-bell {
	position:relative;
	top: -2px;
}

.notification-list .noti-icon-badge {
	top:4px;
}






/* dahboard css */


.tilebox-one .radius{border-radius:80px; width:80px; height:80px; display: grid; padding:10px; align-items: center;}
.tilebox-one .background{background-size: contain;}
.tilebox-one .background .box{margin:5px 45px; display: grid; align-items: center;}
.correspondence i, .files i {
    color: #FFF !important;
}
.tilebox-one h5{margin:10px 0 !important;}
.container-fluid .card-box{padding:0.5em 1rem 0; padding-bottom: 15px;}
.tilebox-one .background .box h6{border-top:1px solid #FFF; margin-top:0; padding-top:10px;}
.tilebox-one.pending .background .box h6{border-top: none;}
.pending .background{display: grid; align-items: center; justify-content: center; height:120px;}
body{
	background: url("../images/VectorSmartObject.png") no-repeat;
	background-size:cover;
	background-attachment:fixed;
}


header, .wrapper, footer{
	/*transform: scale(0.8);*/
	transform-origin: 0 0;
	width: 125%;
}
footer {
	bottom:-12px!important;
}




.card-header:first-child {
	background: linear-gradient(to top,#3e62ab,#16294f);
	color: #fff;
}
a.text-dark, a.text-dark:active, a.text-dark:hover, a.text-dark:focus {
	color: #fff!important;
	text-transform: uppercase;
}

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.btn-orange {
	background: #e9691d;
}
.btn, .form-control, .dropdown-menu {
	font-size: .975rem;
}
.toggleHide {
	position: fixed; z-index: 11111111;
	bottom: -5px;
	right: 20px;
}
.topnav-menu {
	padding-top: 14px;
}
.toggleHide .fa-plus:before {
  content: "\f067";
	font-family: FontAwesome;
}
.modal-body, .modal-body .btn, .modal-body .form-control, .modal-body .dropdown-menu {
	font-size:.875rem;
}

.modal-header {
	background: linear-gradient(to top,#3e62ab,#16294f);
	color: #fff;
	padding: 0.7rem 1rem;
}

.file-letter-col-12 .card-box {
	background: #E9EEF9;
	border-radius: 0;
	min-height: 1000px;
}
.bg-right-paperless {
	background: #C3D0ED;
}
.nav-tabs .nav-item a{
		padding: .3rem 1rem;
}

.label-white {
	color: white !important;
}
/* } */

@media(max-width: 600px){
	.tilebox-one h5{
		font-size: 16px;
	}
}