.loading-shading-mui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, .3);
}

.loading-icon-mui {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}



.inbox-table{
    width: 100%;
}

.inbox-table .MuiTable-root .MuiTableBody-root{
    transition: all 0.3s ease;
}

.inbox-table .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    transition: all 0.3s ease-in-out;
}

.inbox-table .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    transform: translate(0px, -100%);
    z-index: 0;
    visibility: collapse;
}

.inbox-table .MuiTable-root .MuiTableHead-root:hover .MuiTableRow-head:last-child{
    transform: translate(0px, 0px);
    z-index: 1;
    visibility: visible;
}


.inbox-table .MuiTable-root .MuiTableRow-root:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.inbox-table{ 
    position: relative;
}

.table-action-btn{
    position: absolute;
    right: 10px;
    background-color: #fff;
    padding: 0px 5px;
    border: none;
    padding-top: 2px;
    border-bottom: none !important;
}

.table-action-btn>button{
    display: none;
}

.inbox-table .MuiTable-root .MuiTableRow-root:hover .table-action-btn>button{
    display: inline-flex;
    padding: 3px;
    margin-top: 0px !important;
}


.table-action-btn span{
    height: 1.5em;
}


.send-button-Wrapper{    
    /* position: absolute;
    bottom: 15px;
    left: 15px; */
    margin-left: 16px;
    margin-bottom: 16px;
}

.send-button-Wrapper .MuiIcon-root{
    display: flex;
    justify-content: inherit;
    align-items: inherit;
}

::-webkit-scrollbar {
    height: 3px;
  }
  
  /* / Track / */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
  }
   
   /* Handle  */
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    border-radius: 10px;
  }
  
   /* Handle on hover  */
  ::-webkit-scrollbar-thumb:hover {
    background: #787474; 
  }

  @media(max-width: 768px){
    #webviewer-1{
        height: inherit !important;
    }
  }
  
  .split-btn-custom{
    display: block;
    margin-top: 15px;
    text-align: right;
    margin-left: -30px;
    border-radius: 30px;
    padding: 0;
    width: 65px;
}
.split-btn-custom:hover{
    color: #fff;
    margin-left: -22px;
    transition: all 0.3 ease-in-out;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}
.split-btn-custom span{
    padding: 6px 16px;
    padding-right: 18px;
}

.split-custom-btn-wrapper{
    overflow: hidden;
}

.tableCustomRow:hover{
    background-color : 'lightgray';
}