.loading-shading-mui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, .3);
}

.loading-icon-mui {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.react-tabs__tab {
    background-color: gray !important; 
    color: whitesmoke; 
  } 

.react-tabs__tab--selected {
    background-color: whitesmoke !important;    
    color: black; 
}

.personal-file .MuiTable-root .MuiTableBody-root{
    transition: all 0.3s ease;
}

.personal-file .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    transition: all 0.3s ease-in-out;
}

.personal-file .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    visibility:collapse;
    /* / visibility: hidden; / */
    transform: translate(0px, -100%);
}

.personal-file .MuiTable-root .MuiTableHead-root:hover .MuiTableRow-head{
    visibility: visible;
    transform: translate(0px, 0px);
}

.personal-draft-pa .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    /* / visibility: hidden; / */
    visibility:collapse;
    transform: translate(0px, -100%);
}

.personal-draft-pa .MuiTable-root .MuiTableHead-root:hover .MuiTableRow-head{
    visibility: visible;
    transform: translate(0px, 0px);
}

.personal-app .MuiTable-root .MuiTableHead-root .MuiTableRow-head:last-child{
    visibility:collapse;
    /* / visibility: hidden; / */
    transform: translate(0px, -100%);
}

.personal-app .MuiTable-root .MuiTableHead-root:hover .MuiTableRow-head{
    visibility: visible;
    transform: translate(0px, 0px);
}


@media(max-width: 450px){
    .personnel-btn-groups{
        flex-direction: column;
    flex-basis: auto;
    }
    .personnel-btn-groups > button{
        margin-bottom: 16px;
    }
}
@media(max-width: 600px){
    .personnel-btn-groups{
        justify-content: center;
    }
}


.loading-quick-sign-in{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 40%);
    z-index: 11;
}

.fileUploder{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 40%);
    z-index: 11;
}

